.custom-btn{
    display: flex;
    flex-direction: column;
    border: 2px solid #00A19B;
    background: #00A19B;
    color: white;
    padding: 10px 0;
    img{
        width: 20px;
        height: 20px;
        margin-top: -13px;
        &:first-child{
            align-self: flex-end;
            margin-top: 0;
            margin-bottom: -10px;
        }
    }
    div{
        padding: 2px 17px;
        justify-content: center;
    }
    
    &:hover{
        background: transparent;
        color: black;
        cursor: pointer;
    }
    &--transparent{
        background: transparent;
        color: black;
        padding: 0;
        &:hover{
            background: #00A19B;
            color: white;
            cursor: pointer;
        }
    }
    
}