@import '_mixins.scss';
@import '_variables.scss';
@import 'Home.scss';
@import 'ShowCase.scss';
@import 'Project.scss';
@font-face {
    font-family: 'MoscowSans';
    font-weight: 400;
    src: url(../fonts/moscowsansregular.ttf);
}
*{
    font-family: 'MoscowSans';
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;  
}
.green-line{
    position: absolute;
    width: 60px;
    height: calc( 100vh - 115px);
    left: 0px;
    top: 115px;

    background: #00A19B;
}
main{
    flex: 1
}