@import '_mixins.scss';
@import '_variables.scss';
@import 'Home.scss';
@import 'ShowCase.scss';
@font-face {
    font-family: 'MoscowSans';
    font-weight: 400;
    src: url(../fonts/moscowsansregular.ttf);
}
*{
    font-family: 'MoscowSans';
}
.container{
      
}