.project{
    &-card{
        padding: 20px;
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & img{
            height: 40px;
            width: 40px;
            &:first-child {
                align-self: flex-end;
            }
        }
        &__title{
            font-size: 22px;
            line-height: 28px;
            margin: 0px 25px;
            color: white;
        }
    }
}