.role-selector{
    height: 50px;
    border: 2px solid rgba(255,255,255,0.3);
    width: 100%;
    background-color: white;
    &__wrapper{
        max-width: 1200px;
        margin: 0 auto;
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}